---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACecac0dff0877e7b6af5a2f5fe284529c/Messages.json
    body:
      encoding: UTF-8
      string: Body=I+found+primers%21&From=%2B14752514654&To=%2B17788950912
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNlY2FjMGRmZjA4NzdlN2I2YWY1YTJmNWZlMjg0NTI5YzplNDdkZWFmYzdjMmZmNDRiYWJkYTUzYzA1YzQyODZhNw==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ3084630941faeb70e253859cc47a1f18
      Twilio-Request-Duration:
      - '0.114'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SMdba75687b7ae4f1792d84d01b1510ea6", "date_created": "Sun,
        12 Dec 2021 20:50:11 +0000", "date_updated": "Sun, 12 Dec 2021 20:50:11 +0000",
        "date_sent": null, "account_sid": "ACecac0dff0877e7b6af5a2f5fe284529c", "to":
        "+17788950912", "from": "+14752514654", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - I found primers!", "status": "queued",
        "num_segments": "1", "num_media": "0", "direction": "outbound-api", "api_version":
        "2010-04-01", "price": null, "price_unit": "USD", "error_code": null, "error_message":
        null, "uri": "/2010-04-01/Accounts/ACecac0dff0877e7b6af5a2f5fe284529c/Messages/SMdba75687b7ae4f1792d84d01b1510ea6.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACecac0dff0877e7b6af5a2f5fe284529c/Messages/SMdba75687b7ae4f1792d84d01b1510ea6/Media.json"}}'
  recorded_at: Sun, 12 Dec 2021 20:50:11 GMT
recorded_with: VCR 6.0.0
